[Unit]
Description=Autorestic cron

[Service]
User=root
Group=root
Environment=TZ=Los_Angeles
Type=oneshot
ExecStart=/etc/autorestic/autorestic

[Install]
WantedBy=timers.target
