version: '3.9'

services:
  traefik:
    image: traefik:v2.5
    container_name: traefik
    security_opt: 
      - no-new-privileges:true
    environment:
      - NAMECHEAP_API_USER={{ secret_namecheap_api_user }}
      - NAMECHEAP_API_KEY={{ secret_namecheap_api_key }}
    ports:
      - 80:80
      - 443:443
    profiles:
      - all
      - network
    networks:
      - traefik
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./traefik/traefik:/etc/traefik"
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.dashboard.rule=Host(`traefik.iyer.app`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))
      - traefik.http.routers.dashboard.service=api@internal
      - traefik.http.routers.dashboard.middlewares=localip@file
      - traefik.http.services.dashboard.loadbalancer.server.port=80"

  librespeed:
    image: lscr.io/linuxserver/librespeed:5.2.5
    container_name: librespeed 
    security_opt: 
      - no-new-privileges:true
    environment:
      - PUID={{ docker_userid }}
      - PGID={{ docker_userid }}
      - TZ={{ TZ }}
    volumes:
      - ./librespeed/config:/config
    profiles:
      - all
      - tools
    networks:
      - traefik
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.librespeed.rule=Host(`librespeed.iyer.app`)
      - traefik.http.routers.librespeed.middlewares=localip@file

  sabnzbd:
    image: ghcr.io/linuxserver/sabnzbd:3.5.3
    container_name: sabnzbd
    security_opt: 
      - no-new-privileges:true
    environment:
      - PUID={{ docker_userid }}
      - PGID={{ docker_userid }}
      - TZ={{ TZ }}
    volumes:
      - ./sabnzbd:/config
      - /mnt/storage/media/usenet:/media/usenet:rw
    profiles:
      - all
      - media
    networks:
      - traefik
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.sabnzbd.rule=Host(`sabnzbd.iyer.app`)
      - traefik.http.routers.sabnzbd.middlewares=localip@file

  radarr:
    image: ghcr.io/linuxserver/radarr:4.1.0
    container_name: radarr
    security_opt: 
      - no-new-privileges:true
    environment:
      - PUID={{ docker_userid }}
      - PGID={{ docker_userid }}
      - TZ={{ TZ }}
    volumes:
      - ./radarr:/config
      - /mnt/storage/media:/media
    profiles:
      - all
      - media
    networks:
      - traefik
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.radarr.rule=Host(`radarr.iyer.app`)
      - traefik.http.routers.radarr.middlewares=localip@file

  sonarr:
    image: ghcr.io/linuxserver/sonarr:3.0.8
    container_name: sonarr
    security_opt: 
      - no-new-privileges:true
    environment:
      - PUID={{ docker_userid }}
      - PGID={{ docker_userid }}
      - TZ={{ TZ }}
    volumes:
      - ./sonarr:/config
      - /mnt/storage/media:/media
    profiles:
      - all
      - media
    networks:
      - traefik
    restart: unless-stopped 
    labels:
      - traefik.enable=true
      - traefik.http.routers.sonarr.rule=Host(`sonarr.iyer.app`)
      - traefik.http.routers.sonarr.middlewares=localip@file

  overseerr:
    image: sctx/overseerr:1.28.0
    container_name: overseerr
    security_opt: 
      - no-new-privileges:true
    environment:
      - LOG_LEVEL=info
      - TZ={{ TZ }}
    volumes:
      - ./overseerr:/app/config
    profiles:
      - all
      - media
    networks:
      - traefik
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.overseerr.rule=Host(`overseerr.iyer.app`)
      - traefik.http.routers.overseerr.middlewares=localip@file

  lidarr:
    image: lscr.io/linuxserver/lidarr:0.8.1
    container_name: lidarr
    security_opt: 
      - no-new-privileges:true
    environment:
      - PUID={{ docker_userid }}
      - PGID={{ docker_userid }}
      - TZ={{ TZ }}
    volumes:
      - ./lidarr:/config
      - /mnt/storage/media:/media
    profiles:
      - all
      - media
    networks:
      - traefik
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.lidarr.rule=Host(`lidarr.iyer.app`)
      - traefik.http.routers.lidarr.middlewares=localip@file

  prowlarr:
    image: ghcr.io/linuxserver/prowlarr:0.3.0-develop
    container_name: prowlarr
    security_opt: 
      - no-new-privileges:true
    environment:
      - PUID={{ docker_userid }}
      - PGID={{ docker_userid }}
      - TZ={{ TZ }}
    volumes:
      - ./prowlarr:/config
    profiles:
      - all
      - media
    networks:
      - traefik
    restart: unless-stopped 
    labels:
      - traefik.enable=true
      - traefik.http.routers.prowlarr.rule=Host(`prowlarr.iyer.app`)
      - traefik.http.routers.prowlarr.middlewares=localip@file
  
  amd:
    image: randomninjaatk/amd 
    container_name: amd
    security_opt: 
      - no-new-privileges:true
    volumes:
      - ./lidarr:/config
      - /mnt/storage/media/usenet/music:/downloads-amd
    environment:
      - PUID={{ docker_userid }}
      - PGID={{ docker_userid }}
      - AUTOSTART=true
      - SCRIPTINTERVAL=1h
      - DOWNLOADMODE=wanted
      - FALLBACKSEARCH=True
      - LIST=both
      - SearchType=both
      - Concurrency=1
      - EMBEDDED_COVER_QUALITY=80
      - FORMAT=FLAC
      - BITRATE=320
      - ENABLEPOSTPROCESSING=true
      - FORCECONVERT=false
      - requirequality=false
      - MatchDistance=10
      - replaygain=true
      - FolderPermissions=766
      - FilePermissions=666
      - MBRAINZMIRROR=https://musicbrainz.org
      - MBRATELIMIT=1
      - LidarrUrl={{ lidarr_url }}
      - LidarrAPIkey={{ lidarr_apikey }}
    restart: unless-stopped
    profiles:
      - all
      - media
    networks:
      - traefik

  amvd:
    image: randomninjaatk/amvd 
    container_name: amvd
    security_opt: 
      - no-new-privileges:true
    volumes:
      - ./lidarr:/config
      - /mnt/storage/media/library/music-videos:/downloads-amvd
    environment:
      - PUID={{ docker_userid }}
      - PGID={{ docker_userid }}
      - AUTOSTART=true
      - SCRIPTINTERVAL=1h
      - SOURCE_CONNECTION=lidarr
      - RequireVideoMatch=true
      - subtitlelanguage=en
      - videofilter=live
      - USEFOLDERS=true
      - USEVIDEOFOLDERS=true
      - FilePermissions=644
      - FolderPermissions=755
      - MBRAINZMIRROR=https://musicbrainz.org
      - MBRATELIMIT=1
      - LidarrUrl={{ lidarr_url }}
      - LidarrAPIkey={{ lidarr_apikey }}
      - CountryCode=us
    restart: unless-stopped
    profiles:
      - all
      - media
    networks:
      - traefik

  vaultwarden:
    image: vaultwarden/server:1.24.0
    container_name: vaultwarden
    security_opt: 
      - no-new-privileges:true
    volumes:
      - ./vw-data:/data
    profiles:
      - all
      - tools
    networks:
      - traefik
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.bitwarden.rule=Host(`bitwarden.iyer.app`)
      - traefik.http.routers.bitwarden.middlewares=localip@file

  nextcloud:                                                           
    image: lscr.io/linuxserver/nextcloud:version-23.0.2
    container_name: nextcloud                                          
    security_opt: 
      - no-new-privileges:true
    environment:                                                       
      - PUID={{ docker_userid }}                                                      
      - PGID={{ docker_userid }}                                       
      - TZ={{ TZ }}                                       
    volumes:                                                           
      - ./nextcloud:/config                                            
      - /mnt/tank/cloud:/data                                          
    restart: unless-stopped                                            
    profiles:                                                          
      - all                                                            
      - tools                                                          
    depends_on:                                                        
      - nextcloud_db                                       
      - redis                                                          
    networks:                                                          
      - traefik                                                        
      - db                                                      
    labels:                                                            
      - traefik.enable=true
      - traefik.http.routers.nextcloud.rule=Host(`cloud.iyer.app`)         
      - traefik.http.services.nextcloud-service.loadbalancer.server.scheme=https
      - traefik.http.services.nextcloud-service.loadbalancer.server.port=443
      - traefik.http.services.nextcloud-service.loadbalancer.serverstransport=ignorecert@file
      - traefik.http.middlewares.nextcloud-hsts.headers.stsseconds=15552000
      - traefik.http.routers.nextcloud.middlewares=nextcloud-hsts@docker

  nextcloud_db:                                                          
    image: postgres:13.5-alpine                                        
    container_name: postgresql
    security_opt: 
      - no-new-privileges:true
    environment:                                                       
      - POSTGRES_USER={{ nc_dbuser }}
      - POSTGRES_PASSWORD={{ nc_dbpass }}
      - POSTGRES_DB={{ nc_dbname }}                              
    profiles:                                                          
      - all                                                            
      - db                                                             
    networks:                                                          
      - db                                                     
    volumes:                                                           
      - /mnt/tank/dbs/postgres/nextcloud:/var/lib/postgresql/data      
    restart: unless-stopped  
  
  redis:                                                               
    image: redis:6.2.6-alpine                                           
    container_name: redis                                              
    security_opt: 
      - no-new-privileges:true
    volumes:                                                           
      - /mnt/storage/dbs/redis/nextcloud:/data                         
    restart: unless-stopped                                            
    networks:                                                          
      - db                                                      
    profiles:                                                          
      - all                                                            
      - db  

  photoview_db:
    image: mariadb:10.5
    container_name: photoview_db
    security_opt: 
      - no-new-privileges:true
    restart: unless-stopped
    environment:
      - MARIADB_ROOT_PASSWORD={{ pv_rootpass }}
      - MARIADB_USER={{ pv_dbuser }}
      - MARIADB_PASSWORD={{ pv_dbpass }}
      - MARIADB_DATABASE={{ pv_dbname }}
    networks:
      - db
    profiles:
      - all
      - db
    volumes:
      - /mnt/tank/dbs/mariadb/photoview:/var/lib/mysql

  photoview:
    image: viktorstrate/photoview:2.3.12
    container_name: photoview
    security_opt: 
      - no-new-privileges:true
    restart: unless-stopped
    depends_on:
      - photoview_db
    environment:
      - PHOTOVIEW_DATABASE_DRIVER=mysql
      - PHOTOVIEW_MYSQL_URL={{ pv_sqlurl }}
      - PHOTOVIEW_LISTEN_IP=photoview
      - PHOTOVIEW_LISTEN_PORT=80
      - PHOTOVIEW_MEDIA_CACHE=/app/cache
      - PHOTOVIEW_PUBLIC_ENDPOINT=https://photos.iyer.app
      - MAPBOX_TOKEN={{ pv_mapbox }}
    networks:
      - traefik
      - db
    profiles:
      - all
      - tools
    volumes:
      - /mnt/tank/cache/photoview:/app/cache
      - /mnt/tank/cloud/vik/files/InstantUpload:/photos-vik:ro
      - /mnt/tank/cloud/sam/files/InstantUpload:/photos-sam:ro
      - /mnt/tank/cloud/vik/files/Photos_by_Events:/photos-events:ro
    labels:
      - traefik.enable=true
      - traefik.http.routers.photoview.rule=Host(`photos.iyer.app`)
      - traefik.http.routers.photoview.middlewares=localip@file

  uptime-kuma:
    image: louislam/uptime-kuma:1.15.1-alpine
    container_name: uptime-kuma
    security_opt: 
      - no-new-privileges:true
    restart: unless-stopped
    volumes:
      - ./uptime-kuma:/app/data
    networks:
      - traefik
    profiles:
      - all
      - tools
    labels:
      - traefik.enable=true
      - traefik.http.routers.uptime-kuma.rule=Host(`status.iyer.app`)
      - traefik.http.routers.uptime-kuma.middlewares=localip@file

  docker-db-auto-backup:
    image: ghcr.io/realorangeone/db-auto-backup:latest
    container_name: db-auto-backup
    security_opt: 
      - no-new-privileges:true
    restart: unless-stopped
    security_opt: 
      - no-new-privileges:true
    networks:
      - db
    profiles:
      - all
      - db 
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /mnt/tank/dbs/backups:/var/backups
    environment:
      - HEALTHCHECKS_ID={{ hcid_dockerdb }}
  
  openbooks:
    image: evanbuss/openbooks:latest
    container_name: OpenBooks
    security_opt: 
      - no-new-privileges:true
    restart: unless-stopped
    command: --persist
    networks:
      - traefik
    profiles:
      - all
      - media
    volumes:
      - /mnt/tank/vik/temp-books:/books
    labels:
      - traefik.enable=true
      - traefik.http.routers.openbooks.rule=Host(`openbooks.iyer.app`)
      - traefik.http.routers.openbooks.middlewares=localip@file

  calibre:
    image: lscr.io/linuxserver/calibre:5.42.0
    container_name: calibre
    security_opt: 
      - no-new-privileges:true
    environment:
      - PUID={{ docker_userid }}
      - PGID={{ docker_userid }}
      - TZ={{ TZ }}
    volumes:
      - ./calibre:/config
      - /mnt/tank/calibre:/calibre
      - /mnt/storage/media/library/books:/books
      - /mnt/tank/vik/temp-books:/temp-books
    restart: unless-stopped
    networks:
      - traefik
    profiles:
      - all
      - media
    labels:
      - traefik.enable=true
      - traefik.http.routers.calibre.rule=Host(`calibre.iyer.app`)
      - traefik.http.services.calibre-service.loadbalancer.server.scheme=http
      - traefik.http.services.calibre-service.loadbalancer.server.port=8080
      - traefik.http.routers.calibre.middlewares=localip@file

  calibre-web:
    image: lscr.io/linuxserver/calibre-web:0.6.18
    container_name: calibre-web
    security_opt: 
      - no-new-privileges:true
    environment:
      - PUID={{ docker_userid }}
      - PGID={{ docker_userid }}
      - TZ={{ TZ }}
      - DOCKER_MODS=linuxserver/calibre-web:calibre
    volumes:
      - ./calibre-web:/config
      - /mnt/tank/calibre:/books
    restart: unless-stopped
    networks:
      - traefik
    profiles:
      - all
      - media
    labels:
      - traefik.enable=true
      - traefik.http.routers.calibre-web.rule=Host(`calibre-web.iyer.app`)
      - traefik.http.routers.calibre-web.middlewares=localip@file

networks:
  traefik:
    external: true
  db:
    internal: true
