[Unit]
Description=Syncoid pull
Requires=zfs.target network-online.target
After=zfs.target network-online.target

[Service]
Environment=TZ=UTC
Type=oneshot
ExecStart=/opt/syncoid/syncoid

[Install]
WantedBy=timers.target
