- name: Start Docker
  ansible.builtin.service:
    name: docker
    state: started
    
- name: Create traefik directory structure
  include: traefik.yaml

- name: Setup vikunja
  include: vikunja.yaml

- name: Setup homer
  include: homer.yaml

- name: Setup tandoor
  include: tandoor.yaml

- name: Setup nextcloud
  include: nextcloud.yaml

- name: Install docker compose file
  template:
    src: files/docker-compose.yaml
    dest: /opt/docker/docker-compose.yaml
    mode: "{{ docker_file_mask }}"
    owner: "{{ secret_username }}"
#    validate: docker-compose -f %s config
